<%- include("FM-0-TituloPrincipal") %>
<section id="tabla">
	<table>
		<thead>
			<tr>
				<th class="cliente">Visitas</th>
				<th class="fecha">Hora</th>
				<th class="ruta">Ruta</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</section>
