<table>
	<thead>
		<tr>
			<th>Cliente</th>
			<th>Fecha</th>
			<th>Ruta</th>
		</tr>
	</thead>
	<tbody>
		<% for (let navegDia of navegsDia) { %>
		<tr>
			<td><%= navegDia.usuario || navegDia.cliente_id %></td>
			<td><%= comp.fechaHora.fechaHorario(navegDia.fecha) %></td>
			<td><%= navegDia.ruta %></td>
		</tr>
		<% } %>
	</tbody>
</table>
