<% if (entRclv == "epocasDelAno") destino += '&hoyLocal=' + hoyLocal + "&origen=CN" %>
<a href="<%= destino %>" class="toggle absoluteCentro" tabindex="-1">
	<button id="cartelRclv" type="button" class="cartel scaleCh">
		<% const delLa = comp.obtieneDesdeEntidad.delLa(entRclv) %>
		<% const familia = comp.obtieneDesdeEntidad.entidadNombre(entRclv) %>
		Detalle <%= delLa %><br><%= familia %>
	</button>
</a>
